@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkest: #010a13;
  --darker: #0d273f;
  --dark: #195080;
  --whitely: #f5f5f5c8;
  --bg_btn: #f5f5f5b2;
  --br-main: 2px solid var(--whitely);
  --bg-main: -webkit-linear-gradient(to left, #26a0da, #314755);
  --bg-main: linear-gradient(to left, #26a0da, #314755);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--whitely);
}

a {
  color: var(--whitely);
  text-decoration: none;
}

html,
body {
  color: var(--dark);
  background: var(--bg-main)
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color:var(--br-main) !important;
  background:var(--bg-main) !important;
  box-shadow: 0px 1px 7.5px var(--darker);
}

#tables {
  margin-top: 5%;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap !important;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#tables>a {
  border-radius: 5px;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

._tableAnchor {
  font-weight: 500; 
  background-color: rgba(245, 245, 245, 0.699);
  color: #010a13;
}

._tableResrveted {
background-color: rgba(3, 56, 3, 0.582);
color: var(--bg_btn);
font-weight: 500;

}

table {
  width: 100%;
  border-collapse: collapse;
  border: var(--br-main);
}

th,
td {
  border: var(--br-main);
  padding: 8px 10px;
}

caption {
  caption-side: bottom;
  border-left: var(--br-main);
  border-bottom: var(--br-main);
  border-right: var(--br-main);
}

caption>div {
  padding: 0 3% 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

caption>div>p {
  color: var(--whitely);
  font-size: 16px;
}

caption>div>button {
  background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
  margin: 7px;
  padding: 5px 45px;
  height: 35px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 1px #eee;
  border-radius: 7px;
  display: block;
  font-weight: 700;
}

caption>div>button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

form>div:first-child {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 15px;
  padding: 10px 10px 0 10px;
}

._moneyToReturn_btn,
select {
  height: 35px;
  text-transform: capitalize;
  background-color: unset;
  border: var(--br-main);
  color: var(--whitely);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  outline: unset !important;
  appearance: none;
}

option {
  background-color: var(--darkest);
}

#items {
  width: 100%;
  height: 125px;
  padding-left: 10px;
}

#items>div {
  min-width: 100%;
  height: 150px;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7.5px;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-right: 10px;
}

#items>div::-webkit-scrollbar {
  width: 0;
}

#items>div>button {
  width: 200px;
  height: 33px;
  border-radius: 5px;
  font-weight: 500; 
  background-color: #f5f5f5b2;
  color: #010a13;
  text-transform: lowercase;
  font-weight: 500;
}

main[class="main"] {
  display: flex;
  flex-direction: row;

}

main[class="main"]>section:first-child {
  width: calc(100% - 250px);

}

main[class="main"]>section:first-child>div {
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
}

main[class="main"]>section:last-child {
  width: 250px;
}

aside {
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  width: 250px;
  border-left: 5px double var(--whitely);
  /* background-color: #2f3ad318; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside>div {
  height: calc(100% - 50px);
  overflow-y: scroll;
}

aside>div::-webkit-scrollbar {
  width: 15px !important;
  background-color: #ffffff09 !important;
  border-left: thin solid #80808011 !important;
}

aside>div::-webkit-scrollbar-thumb {
  background-color: #475569a6 !important;
}



._sendBTN {
  color: white;
  box-shadow: 0 0 1px #eee;
  font-weight: 700;
  background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
  width: 95%;
  align-self: center;
  height: 39px;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: 0.5s;
  background-size: 200% auto;
}

._sendBTN:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

._in_decrement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--bg_btn);
  border: unset;
  color: #010a13;
  width: 20px;
  height: 20px;
  font-size: 18px;
  font-weight: 700;
}

._fImage>span {
  transform: translateX(-10px);
  width: calc(100% - 25px);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 2.5px;
}

footer>button>svg:hover {
  transform: scale(1.1);
  fill: #348f50;
  stroke: #348f50;
  transition: fill 0.3s ease;
}

@media only screen and (max-width: 850px) {

  caption>div {
    padding-top: 15px;
    flex-direction: column;

  }

  caption>div>p {
    display: flex;
    align-items: center;
    padding-left: 5px;
    text-align: start;
    background-color: #00080a38;
    border-bottom: thin solid #021c23;
    margin-bottom: 7px;
  }

  caption>div>* {
    min-height: 38px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  main[class="main"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  main[class="main"]>section:first-child {
    width: 100%;
  }

  main[class="main"]>section:last-child {
    margin: 50px 0 30px 0;
    width: 100%;
  }

  aside {
    top: unset;
    width: 100%;
    background: var(--bg-main);
    border-top: 5px double var(--whitely);
    border-left: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 200px;
    /* bottom: 5px; */
  }

  aside>div {
    max-height: 150px;
  }

  ._sendBTN {
    height: 39px;
    margin-top: 7px;
    margin-bottom: 7px;
    height: 50px;
  }

  table {
    color: #ccc;
    background-color: #19508046;
    max-height: 300px;
    margin-bottom: 100px;
  }

  ._child>h1 {
    font-size: 18px;
    font-weight: 500;
  }

  caption>div {
    padding-top: 15px;
    flex-direction: column;
    margin-bottom: 50px;
  }

  caption>div>* {
    min-height: 38px;
    width: 100%;
  }

  #tables {
    margin-bottom: 25px !important;

  }

}


._fz {
  font-size: 20px;
  font-weight: 500;
}

@media only screen and (max-width: 450px) {
  ._fz {
    font-size: 3.8dvw;
  }
}

._titlePrint {
  display: none;
}

@media print {

  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
    background-color: #cef5f8;
    color: #085e74;
    text-transform: uppercase;
  }

  ._titlePrint {
    display: block;
    padding: 10px 10px;
  }

  caption>div>button {
    display: none;
  }

  caption>div>p {
    font-weight: 500;
    color: #085e74;
  }

  table {
    border-collapse: separate !important;
  }
}

@page {
  size: 50px auto;
  margin: 5px;
}